
body {
    font-family: "Inter", Helvetica, sans-serif;
    margin: 0px;
    font-size: 1vw;
}

#logo {
    margin: 0px;
    padding: 8px;
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    letter-spacing: auto;
    width: 18%;
    color: rgb(171, 55, 200);
    text-shadow:
   -1px -1px 0.8px rgb(86, 15, 104),  
    1px -1px 0.8px  rgb(86, 15, 104),
    -1px 1px 0.8px  rgb(86, 15, 104),
     1px 1px 0.8px  rgb(86, 15, 104);

}

h1 {
    margin: 0px;
    padding: 8px;
}

.portfolio {
    text-align: center;
}
/* adding 4 values go around top, right, bottom, left
if it's 2 its' top, bottom and left, right */

ul {
    margin: 0px;
}

body > header {
    color:white;
    display: flex;
    height: 11vh;
    align-items: center; 
    justify-content: space-around;
    margin: 0px 0px 80px 0px;
    box-shadow: 0 0 10px rgb(171, 55, 200, 20%);
}

body > header > nav > ul{
    list-style: none;
    text-decoration: none;
}

.navbutton {
    color: rgb(171, 55, 200);
    font-family: "Inter", sans-serif;
    text-decoration: none;
    box-shadow: 0 0 10px rgb(171, 55, 200, 20%);
    padding: 10px 20px;
    border-radius: 20px;
    text-transform: lowercase;
    font-size: 0.7vw;
    letter-spacing: 1px;
}

body > main article {
    width: 70%;
    margin: auto;
}
#main-content {
    display: flex;
    justify-content: space-around;
}

#main-content > div {
    width: 70%;
}

form {
    text-align: center;

}

#nav-ul {
    display: flex;
}

#nav-ul > li {
    padding: 8px;
    margin: 16px;
}

body > footer { 
    background-color: rgb(171, 55, 200);
}

img {
    border-radius: 50%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
}

.card {
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 10px rgb(171, 55, 200, 20%);
  border-radius: 10px;
  display:grid;
  grid-template-rows: repeat() ;
  grid-gap: 5px;
  text-align: center;
}


#footer-ul {
    display: flex;
    list-style: none;
}

.talents {
    width: 90%;
    height: 84%;
    border-radius: 3px;
    margin: 20px 40px 20px 40px;
}

#footer-ul > div > li {
    margin-left: 12px;
    color: white;
    text-decoration: none;
}

#contact{
    color: white;
    background-color: rgb(171, 55, 200);
}

#footer-ul > div > li > a{
    text-decoration: none;
    color: white;
}